.HomePage{
    border: 1px white solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
    padding: 1rem;
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkcyan;
}
.titleH{
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    color: snow; 
}

.quoteH{
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-bottom: 9rem;
    color: white;
}
.expand{
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    font-weight:600;
    font-size: 1.5rem;
    text-decoration: inherit;
}
.expand:focus, .expand:hover, .expand:visited, .expand:link, .expand:active {
        text-decoration: inherit;
        color: snow;
}

.tracking-out-expand:hover {
	-webkit-animation: tracking-out-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: tracking-out-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tracking-out-expand {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 1em;
    opacity: 0;
  }
}
@keyframes tracking-out-expand {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 1em;
    opacity: 0;
  }
}